.text-center {
    text-align: center!important;
}
.float-right {
    float: right!important;
}
.float-left {
    float: left!important;
}
.text-red {
    color: #dc3545;
}
.text-green {
    color: #34c38f;
}
.text-blud {
    color: blue;
}
.btn-default {
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #444;
}
.center{
    text-align: center;
}
.mce-tinymce{
    box-sizing: border-box!important;
    width: calc(100% + 2px)!important;
}
.alert-success {
    color: #fff;
    background: #28a745;
    border-color: #23923d;
}
.alert a.close{
    position: absolute;
    right: 20px;
    font-size: 30px;
    bottom: 0px;
}
.btn-checkbox {
    padding: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
}
.strength {
    width: 100%;
    float: left;
    clear: both;
    padding: 3px 0;
    margin-bottom: 10px;
}
.strength-result {
    width: 100%;
    float: left;
    clear: both;
    font-size: 10px;
    display: block;
    transition: 1s;
    margin-bottom: 3px;
}
.strength-box {
    width: 100%;
    float: left;
    clear: both;
}
.strength-box__list {
    float: left;
    margin-right: 4px;
    position: relative;
    border: 1px solid silver;
    width: 20px;
    height: 8px;
}
.strength1 .strength-box__list:nth-child(1) {
    background: #424f63;
}
.strength2 .strength-box__list:nth-child(1),
.strength2 .strength-box__list:nth-child(2) {
    background: #424f63;
}
.strength3 .strength-box__list:nth-child(1),
.strength3 .strength-box__list:nth-child(2),
.strength3 .strength-box__list:nth-child(3) {
    background: #424f63;
}
.strength4 .strength-box__list:nth-child(1),
.strength4 .strength-box__list:nth-child(2),
.strength4 .strength-box__list:nth-child(3),
.strength4 .strength-box__list:nth-child(4) {
    background: #424f63;
}
.strength5 .strength-box__list {
    background: #424f63;
}
/* tags */
.tags {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.tags-item {
    float: left;
    margin: 10px 10px 0 0;
}
.tags-item__text {
    float: left;
    background: #ced4da;
    padding: 3px 10px;
    font-size: 13px;
    line-height: 22px;
}
.tags-item__remove {
    float: left;
    background: #ff0000;
    color:  #ffffff;
    padding: 3px 8px;
    font-size: 13px;
    cursor: pointer;
    line-height: 22px;
}
/* suggest */
.suggest {
    position: relative;
}
.suggest .suggest-result {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0;
    display: none;
    z-index: 1000;
}
.suggest .suggest-result ul {
    border: 1px solid #ced4da;
    background: #ffffff;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    border-radius: 5px;
    max-height: calc(35px * 10);
    box-shadow: 5px 6px 10px 0px rgba(0,0,0,.2);
    overflow: auto;
}
.suggest .suggest-result ul li {
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #ced4da;
    cursor: pointer;
    width: 100%;
    float: left;
    .image{
        width: 100px;
        float: left;
        img{
            width: 100%;
            float: left;
        }
    }
    .info{
        width: calc(100% - 120px);
        float: right;
        p{
            margin-bottom: 2px;
        }
    }
}
.suggest .suggest-result ul li:hover {
    background: #ced4da;
}
#choose-products{
    .table-image{
        width: 120px;
        img{
            width: 100%;
            height: auto;
        }
    }
    table{
        p{
            margin-bottom: 2px;
        }
    }
}
.form-actions {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 10px;
    background: #ffffff;
    box-shadow: 9px 10px 10px 5px #000;
}
.form-actions__group {
    float: right;
}
.form-loading {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 0;
    right: 10px;
    padding: 10px;
}

/* ảnh */
.image-box {
    width: 100%;
    float: left;
    clear: both;
    /* display: none; */
}
.image-box__remove{
    color: #cc1818;
    position: relative;
    top: 5px;
    left: 20px;
    cursor: pointer;
    margin: 0;
    float: left;
}
.image-box__btn {
    clear: both;
    float: left;
}
.image-box__content {
    width: 100%;
    float: left;
    clear: both;
    margin: 10px 0 5px 0;
}
.image-box__content .item {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #cccccc;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #f4f6f9;
    cursor: pointer;
}
.multi-image-box__content .item{
    width: 70px;
    height: 70px;
}
.image-box__content .item img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.image-box__content .item .item-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.6);
    color:  #ffffff;
    margin-bottom: 0;
    font-size: 10px;
    padding: 3px;
    line-height: 12px;
    max-height: 32px;
    overflow: hidden;
}
.image-box__content .item .item-delete {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: rgba(255, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color:  #ffffff;
    font-size: 10px;
}

/* media */
#media {}
#media .close {
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 1;
    background: #ff0000;
    opacity: 1;
    border-radius: 30px;
}
#media .close i {
    width: 30px;
    height: 30px;
    color:  #ffffff;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
}
#media .modal-dialog {
    max-width: 90%;
}
#media .modal-content {}
#media .modal-body {
    padding: 0;
    width: 100%;
    height: calc(100vh - 60px);
}
#media iframe{
    width: 100%;
    height: 100%;
    float: left;
}

/* Tab */
.tab{

}
.tab-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.tab-list li{
    display: inline;
    line-height: 36px;
    cursor: pointer;
    padding: 0 30px;
    padding-bottom: 8px;
}
.tab-list li.active{
    color: #556ee6;
    border-bottom: 2px solid #556ee6;
    display: inline;
}
.tab .tab-content{
    display: none;
}
.tab .tab-content.active{
    display: block;
}
.tab-seo .tab-content{
    display: none;
}
.tab-seo .tab-content.active{
    display: block;
}
.tabseo-list li{
    display: inline;
    line-height: 36px;
    cursor: pointer;
    padding: 0 30px;
    padding-bottom: 8px;
}
.tabseo-list li.active{
    color: #556ee6;
    border-bottom: 2px solid #556ee6;
    display: inline;
}

.text-right {
    text-align: right!important;
}

.form-title {
    width: calc(100% + 40px);
    clear: both;
    float: left;
    font-size: 14px;
    font-weight: 400;
    margin: 0 -20px 15px;
    padding: 10px 20px;
    background: rgba(0,0,0,.125);
    font-weight: bold;
}

/* Cấu hình menu */
.config-menu{

}
.config-menu .card-header{
    background: #556ee6;
    border: 1px solid #556ee6;
    border-radius: 4px 4px 0 0;
}
.config-menu .panel-collapse{
    border: 1px solid #ddd;
}
.config-menu .card-header .card-title{
    color: #fff;
    padding-top: 5px;
}
.config-menu .card-light .card-header{
    background: #f8f9fa;
    border: 1px solid #ddd;
}
.config-menu .card-light .collapse{
    border: 1px solid #ddd;
    border-top: none;
}
.config-menu .card-light .card-title{
    color: #000;
}
.config-menu .card-light .btn-primary{
    margin-top: 10px;
}
/* form-inline table */
.listdata div.box-action{
    float: left;
}
.listdata .card-header {
    padding: 0;
}
.listdata .card-footer {
    padding: 10px;
    border-top: 1px solid #dee2e6;
}
@media (max-width: 576px) {
    .listdata .card-footer .footer-action {
        width: 100%;
    }
    .listdata .card-footer .footer-action button {
        margin-bottom: 10px;
    }
}
.listdata .form-inline .form-group {
    margin-right: 5px;
    margin-bottom: 10px;
}
.listdata .input-sm {
    height: 31px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/* Báº£ng listdata */
.listdata .pagination-sm {
    position: relative;
    left: 10px;
    top: 5px;
}
.listdata .pagination-sm svg{
    width: 18px!important;
}
.listdata .pagination-sm p.text-sm.text-gray-700.leading-5{
    display: none!important;
}
.listdata .pagination-sm .flex.justify-between.flex-1.sm\:hidden{
    display: none!important;
}
.listdata .pagination-sm a{
    position: relative;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    padding: 5px 15px!important;
}
.listdata .pagination-sm span.relative.z-0.inline-flex.shadow-sm.rounded-md span.relative{
    padding: 5px 14px!important;
    margin-left: -1px;
    margin-right: -4px;
    background: #546de5!important;
    color: #fff;
}
.listdata .footer-action{
    position: relative;
    right: 10px;
}

.listdata .table .thead {
    border: 1px solid #ddd;
    border-top: none;
}
.listdata .table thead tr, .listdata .table thead th{
    border: 1px solid #ddd;
}
.sticky-table-header thead tr, .sticky-table-header thead th{
    border-top: 1px solid #546de5!important;
}
.listdata .table th,
.listdata .table td {
    padding: 10px 10px !important;
    font-size: 14px;
}
.listdata .table th {}
.listdata .table .lang {
    padding-right: 0 !important;
    text-align: center;
}
.listdata .table .lang span {
    width: 16px;
    display: inline-block;
    margin-right: 8px;
}
.listdata .table .lang span:last-child {
    margin-right: 0px;
}
.listdata .table .lang span img {
    width: 16px;
    height: 16px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
.listdata .table .lang span i {
    width: 16px;
    height: 31px;
    display: block;
    text-align: center;
    line-height: 31px;
    font-size: 14px;
}
.listdata .table td {}
.listdata .card-header .search-container {
    width: calc(100% - 215px);
}
.listdata .card-header .action-container {
    max-width: 215px;
}
.listdata .card-header .action-container a {
    margin-bottom: 10px;
    padding: 7px 20px;
}

/* listdata collum */
.table-rep-plugin td{
    border: 1px solid #ddd;
}

.listdata .table-action {
    width: 50px;
}
.listdata .table-image {
    height: 60px;
    width: 60px;
    padding: 5px;
}
.listdata .table-image img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
.listdata .table-array {
    width: 160px;
}
.listdata .table-checkbox {
    width: 30px;
}
.table-wrapper .btn-toolbar {
    display: none;
}
/* listdata auth */
.auth {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.auth:last-child {
    margin-bottom: 0;
}
.auth-box {
    width: 100%;
    float: left;
    max-height: 100px;
    overflow: auto;
}
.auth-title {
    float: left;
    margin-right: 10px;
    margin-bottom: 8px;
    font-weight: bold;
    width: 135px;
}
.auth-list {
    width: calc(100% - 145px);
    float: left;
}
.auth-list .item {
    float: left;
    margin-right: 10px;
    margin-bottom: 7px;
    font-size: 12px;
    background: #dddddd;
    padding: 2px 6px;
    border-radius: 3px;
}
.auth-list .item.active {
    background: #28a745;
    color: #ffffff;
}

.search-container {
    .form-group{
        float: left;
        input{
            width: 150px;
            float: left;
        }
        select{
            width: 150px;
            float: left;
        }
    }
    .btn-group {
        button{
            padding: 7px 15px;
            border: none;
            border-radius: 4px;
        }
    }
}

.role{
    width: 100%;
    float: left;
    overflow-x: scroll; 
    .role-content{
        width: 1200px;
        float: left;
        position: relative;
        z-index: 10;
    }
    &-head{
        width: 100%;
        float: left;
        &__title{
            width: 75px;
            float: left;
            text-align: center;
            font-weight: bold;
            color: #495057;
            &:nth-child(1){
                width: 150px;
                text-align: left;
            }
            &:nth-child(2){
                width: 100px;
                input{
                    width: 16px;
                    height: 16px;
                    margin-left: 5px;
                    position: relative;
                    bottom: 2px;
                }
            }
        }
    }
    &-item{
        width: 100%;
        float: left;
        padding: 10px 0;
        border-top: 1px solid #e6e9ec;
        &:nth-child(2n+1){
            background: #f8f8fb;
        }
        &__title{
            width: 150px;
            float: left;
            font-weight: bold;
            color: #495057;
        }
        &__permission{
            width: 75px;
            float: left;
            text-align: center;
            &:nth-child(2){
                width: 100px;
            }
            input{
                width: 16px;
                height: 16px;
            }
        }
    }
}
.helper {
    width: 100%;
    float: left;
    clear: both;
    font-size: 90%;
    line-height: 20px;
}
.preview_snippet_main{
    .preview_snippet_title{
        color: #1a0dab;
        font-size: 22px;
    }
    .preview_snippet_link{
        color: #16bd16;
        margin-bottom: 5px!important;
        a{
            padding: 0px 5px;
            position: relative;
            bottom: 2px;
        }
    }
    .preview_snippet_des{
    }
}
.sync-links-old{
    position: absolute;
    top: 28px;
    background: #ced4da;
    height: 35px;
    border-radius: 4px 0 0 4px;
    line-height: 35px;
    padding: 0 15px;
    border: 1px solid #ced4da;
}
.settings-sidebar{
    ul{
        list-style-type: none;
        padding: 0;
        li{
            line-height: 30px;
            border-bottom: 1px solid #ced4da;
            padding: 5px 0;
            a{
                color: #495057;
                font-size: 14px;
            }
            &.active{
                a{
                    font-weight: bold;
                }
            }
        }
    }
}
.param-email{
    width: 100%;
    float: left;
    ul{
        list-style-type: none;
        padding: 0;
        width: 100%;
        float: left;
        margin-bottom: 0;
        li{
            width: 200px;
            float: left;
            border-bottom: 1px solid #ced4da;
            padding: 5px 0;
            &:nth-child(2n+1){
                clear: both;
            }
        }
        &:last-child{
            margin-bottom: 10px;
            li{
                border-bottom: none;
            }
        }
    }
}
#test_mail_notificate{
    display: none;
    clear: both;
    padding-top: 10px;
    color: #50a5f1;
}
.slug{
    color: #337ab7;
    font-size: 14px;
    width: 100%;
    float: left;
    padding-top: 4px;
    margin-bottom: 10px;
    .slug-content{
        float: left;
        margin-top: 4px;
        span{
            font-weight: bold;
        }
        input{
            border: 1px solid #ced4da;
            height: 29px;
            color: #337ab7;
            font-size: 14px;
            width: 200px;
            border-radius: 4px;
        }
    }
    .action{
        float: left;
        margin-left: 10px;
        a{
            display: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 3px 10px;
            color: #555!important;
            background: #f7f7f7;
            float: left;
            margin-right: 5px;
        }
        .edit{
            display: block;
        }
        .cancel{
            border: none;
            color: #50a5f1!important;
            background: none;
            font-size: 12px;
            padding-top: 10px;
            text-decoration: underline!important;
        }
    }
}
/* logs */
.logs {
    padding: 10px;
}
.logs-info {
    padding: 0 0 10px;
}
.logs-info__table {
    margin-bottom: 5px;
}
.logs-info__table td,
.logs-info__table th {
    padding: 8px;
}
.logs-info__table td:first-child {
    width: 250px;
    font-weight: bold;
}
.logs-table {}
.logs-table td,
.logs-table th {
    padding: 8px;
}
.logs-table td:first-child {
    width: 250px;
    font-weight: bold;
}

/* table-form */
.table-form {
    width: 100%;
    float: left;
    clear: both;
    overflow: auto;
}
.table-form * {
    outline: none !important;
}
.table-form__table {
    float: left;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}
.table-form__control {
    width: 100%;
    float: left;
    height: 35px;
    border: none;
    padding: 5px;
    vertical-align: top;
    font-size: 14px;
}
.table-form__control {
    border-bottom: 1px solid #cccccc;
}
.table-form__control:last-child {
    border-bottom: none;
}
.custom-image {
    width: 150px;
    float: left;
    position: relative;
    cursor: pointer;
}
.custom-image img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    float: left;
    background: #ffe6e6;
}
.custom-image .add-image,
.custom-image .remove-image {
    width: 35px;
    height: 35px;
    float: left;
    border: none;
    position: absolute;
    right: 0;
}
.custom-image .add-image {
    background: #007bff;
    color: #ffffff;
}
.custom-image .remove-image {
    background: #ff0000;
    color: #ffffff;
    top: 35px;
}
.table-form__table .thead td {}
.table-form__table .thead td p {
    margin-bottom: 0;
    padding: 0 10px;
    line-height: 35px;
}
.table-form__table .thead td .add {
    border: none;
    width: 100%;
    height: 35px;
    background: #556ee6;
    color: #ffffff;
}
.table-form__table tbody {
    position: relative;
}
.table-form__table tr {
    width: 100%;
    background: #ffffff;
    border: 3px solid #556ee6;
}
.table-form__table td {
    vertical-align: top;
    border: 1px solid #cccccc;
    padding: 0;
}
.table-form__table-image {
    width: 150px;
}
.table-form__table-text {
    min-width: 200px;
}
.table-form__table-text .table-form__control {
    vertical-align: middle !important;
}
.table-form__table-textarea {
    min-width: 200px;
}
.table-form__table-textarea .table-form__control {
    height: 70px;
}
.table-form__table-custom {
    min-width: 200px;
}
.table-form__table-custom textarea {
    height: 70px;
}
.table-form__table-action {
    width: 35px;
    vertical-align: middle !important;
}
.table-form__table-action button,
.table-form__table-action span  {
    width: 35px;
    height: 35px;
    float: left;
    clear: both;
    border: none;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
    i{
        color: #fff;
    }
}
.table-form__table{
    .help-text{
        clear: both;
        padding: 5px;
        margin: 0;
        font-size: 12px;
        line-height: 15px;
    }
    .bg-danger{
        background-color: #ff0000!important;
    }
    .bg-default{
        background: #fff;
        i{
            color: #000;
        }
    }
}
.table-form .ui-sortable-helper {
    width: 100% !important;
    box-shadow: 0 0 5px 3px rgba(0,0,0,.2);
    display: table;
}
.table-form .ui-sortable-helper td {
    display: table-cell;
}
.table-form .ui-sortable-placeholder {
    border: 1px dashed #cccccc;
    height: 70px;
    width: 100%;
    visibility: visible !important;
}
.table-form .ui-sortable-placeholder td {
    border: none;
}

// Thêm chi tiết thuộc tính sản phẩm
.attribute-detail{
    width: 100%;
    float: left;
    margin-top: 5px;
    ul{
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
        li{
            width: 100%;
            float: left;
            list-style-type: none;
            padding: 10px 0;
            text-align: center;
            cursor: move;
            border: 1px solid #ddd;
            border-top: none;
            &.li-first{
                background: #556ee6!important;
                color: #fff;
                font-size: 14px;
                border: 1px solid #556ee6;
                .attribute-detail__stt{
                    top: 0!important;
                }
            }
            &.li-last{
                background: #fff!important;
                text-align: left;
                margin-top: 10px;
                border: none;
                a{
                    color: #fff;
                    background: #556ee6;
                    padding: 8px 15px;
                    border-radius: 4px;
                }
            }
            &:nth-child(2n+1){
                background: #dedede;
            }
            input{
                outline: none;
                width: calc(100% - 100px);
                height: 35px;
                padding-left: 10px;
                border: 1px solid #ced4da;
                color: #495057;
                border-radius: 4px;
            }
            .tags_color_code{
                padding: 0;
                border: none;
                cursor: pointer;
                height: 25px;
                margin-top: 4px;
            }
        }
    }
    &__stt{
        width: 50px;
        float: left;
        position: relative;
        top: 10px;
    }
    &__content{
        width: calc((100% - 100px) / 4);
        float: left;
    }
    &__remove{
        width: 50px;
        float: left;
        i{
            color: red;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
.filter-detail__content {
    width: calc((100% - 100px) / 2);
    float: left;
}
.badge-info {
    color: #fff;
    background-color: #17a2b8;
    padding: 5px 10px;
    font-size: 12px;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
    padding: 5px 10px;
    font-size: 12px;
}
.badge-primary {
    color: #fff;
    background-color: #007bff;
    padding: 5px 10px;
    font-size: 12px;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
    padding: 5px 10px;
    font-size: 12px;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
    padding: 5px 10px;
    font-size: 12px;
}
//
// Component: Timeline
//

.timeline {
  margin: 0 0 45px;
  padding: 0;
  position: relative;
  // The line
  &::before {
    background: #dee2e6;
    border-radius: .25rem;
    bottom: 0;
    content: '';
    left: 31px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }
  // Element
  > div {
    &::before,
    &::after {
      content: "";
      display: table;
    }

    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
    // The content
    > .timeline-item {
      box-shadow: 0 0 1px 1px #ddd;
      border-radius: .25rem;
      background: #fff;
      color: #495057;
      margin-left: 60px;
      margin-right: 15px;
      margin-top: 0;
      padding: 0;
      position: relative;
      // The time and header
      > .time {
        color: #999;
        float: right;
        font-size: 12px;
        padding: 10px;
      }
      // Header
      > .timeline-header {
        border-bottom: 1px solid rgba(0,0,0,.125);
        color: #495057;
        font-size: 13px;
        line-height: 1.1;
        margin: 0;
        padding: 10px;
        // Link in header
        > a {
          font-weight: 600;
          font-size: 13px;
        }
      }
      // Item body and footer
      > .timeline-body,
      > .timeline-footer {
        padding: 10px;
      }

      > .timeline-body {
        > img {
          margin: 10px;
        }
        > dl, ol, ul {
          margin: 0;
        }
      }

      > .timeline-footer {
        > a {
          color: #fff;
        }
      }
    }
    // The icons at line
    > .fa,
    > .fas,
    > .far,
    > .fab,
    > .glyphicon,
    > .ion {
      background: #adb5bd;
      border-radius: 50%;
      font-size: 15px;
      height: 30px;
      left: 18px;
      line-height: 30px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 30px;
      color: #fff;
    }
  }
  // Time label
  > .time-label {
    > span {
      border-radius: 4px;
      background-color: #fff;
      display: inline-block;
      font-weight: 600;
      padding: 5px;
    }
  }
}

// .timeline-inverse {
//   > div {
//     > .timeline-item {
//       background: $gray-100;
//       border: 1px solid $gray-300;

//       > .timeline-header {
//         border-bottom-color: $gray-300;
//       }
//     }
//   }
// }
#shipping{
    .title-page{
        font-size: 18px;
        font-weight: bold;
    }
    .choose-nation{
        color: #fff;
        background: #2a2f41;
        float: left;
        padding: 8px 20px;
        cursor: pointer;
        margin-top: 10px;
    }
    .shipping-content{
        width: 100%;
        float: left;
        border: 1px solid #ddd;
        border-bottom: none;
        &__item{
            width: 100%;
            float: left;
            border-bottom: 1px solid #ddd;
            padding: 15px 20px 0;
            box-sizing: border-box;
            .head{
                width: 100%;
                float: left;
                border-bottom: 1px solid #ccc;
                padding-bottom: 5px;
                margin-bottom: 15px;
                .title{
                    float: left;
                    margin-bottom: 5px;
                }
                .action{
                    float: right;
                    margin-bottom: 5px;
                    a{
                        padding-left: 15px;
                        &:first-child{
                            color: red;
                        }
                    }
                }
            }
            .shipping-name{
                width: 100%;
                float: left;
                font-size: 16px;
                cursor: pointer;
                color: #556ee6;
                padding-bottom: 3px;
            }
            .foot{
                width: 100%;
                float: left;
                p{
                    float: left;
                    &:last-child{
                        float: right;
                    }
                }
            }
        }
    }
}
.shipping-rule{
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    background: #f6f6f9;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: none;
    .form-group{
        width: 100%;
        float: left;
        margin-bottom: 10px;
        input{
            width: 100%;
            float: left;
            padding-left: 5px;
            height: 35px;
        }
        select{
            width: 100%;
            float: left;
            padding-left: 5px;
            height: 35px;
        }
    }
    .col-6{
        width: calc(50% - 7.5px);
        float: left;
    }
    .price{
        float: right;
        input{
            width: calc(50% - 15px);
            float: left;
        }
        span{
            float: left;
            width: 30px;
            text-align: center;
            padding-top: 8px;
        }
    }
    .order{
        width: 20%;
        margin-left: 15px;
    }
    label{
        width: 100%;
        float: left;
        font-weight: normal;
        margin-bottom: 0;
    }
    &-content{
        width: 100%;
        float: left;
    }
    &-action{
        width: 100%;
        float: left;
        text-align: right;
        button{
            margin-left: 10px;
        }
    }
}
.modal .shipping-rule{
    display: block;
    background: #fff;
    border: none;
    padding: 0;
    margin-bottom: 0;
}
#chooseNation{
    label{
        width: 100%;
        float: left;
    }
    select{
        width: 100%;
        float: left;
        height: 35px;
    }
}
#loading_box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000000;
    opacity: 0;
    visibility: hidden;
}
#loading_image {
    width: 100%;
    height: 100%;
    background: url(../images/loading_image.gif) no-repeat center center;
    -webkit-background-size: 70px 70px;
    background-size: 70px 70px;
}
.progress-box {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transition: 0.1s;
    z-index: 100000;
    display: none;
}
.progress-run {
    height: 100%;
    width: 0;
    background: #0000ff;
    display: block;
    transition: 0.1s;
}
.attributes{
    padding: 10px;
    background: #f9fafb;
    display: none;
    &__item{
        .btn-remove-attribute{
            background: red;
            color: #fff;
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 4px;
            margin-top: 37px;
            float: left;
        }
    }
    .add-more-attribute{
        background: #fff;
        border: 1px solid #ced4da;
        color: #494f60;
        padding: 8px 15px;
        border-radius: 4px;
    }
}
.variants{
    &-content{
        table{
            width: 100%;
            float: left;
            thead{
                border-bottom: 1px solid #ccc;
                th{
                    padding: 10px 0;
                    text-align: center;
                }
            }
            tr{
                border-bottom: 1px solid #ccc;
                th{
                }
                td{
                    padding: 10px 0;
                    text-align: center;
                    img{
                        max-height: 35px;
                        max-width: 35px;
                    }
                    a{
                        padding: 5px 10px;
                        color: #fff;
                        background: #dc3545;
                        border-radius: 4px;
                        &:first-child{
                            background: #556ee6;
                            margin-right: 3px;
                        }
                    }
                }
                .image{
                    width: 100px;
                }
                .price{
                    width: 100px;
                }
                .action{
                    text-align: center;
                    width: 100px;
                }
                .center{
                    text-align: center;
                }
            }
        }
    }
}
.edit-attribute-item {
    float: left;
    margin-right: 15px;
    input{
        font-size: 16px;
        margin-top: 1px;
        margin-right: 5px;
    }
    label{

    }
}
#addVariants .modal-dialog{
    max-width: 800px;
}
#editVariants .modal-dialog{
    max-width: 800px;
}
.modal-dialog .image-box__content .item{
    width: 100px;
    height: 100px;
}



