$pagination_color: #cccccc !default;
$pagination_background: #ffffff !default;
$pagination_border: #dedede !default;
$pagination_background_hover: #cccccc !default;
$pagination_border_hover: #cccccc !default;
.pagination {
    &-box {
        margin-top: 20px;
    }
    li, .page-item {
        display: inline-block;
        color: $pagination_color;
        margin-right: 3px;
    }
    a, span, .page-link {
        color: #111;
        padding: 3px 10px;
        display: block;
        text-align: center;
        border: 1px solid $pagination_border;
        margin-bottom: 5px;
        transition: 0.2s;
        &:hover {
            color: #ae1f2b;
            transition: 0.2s;
        }
    }
    li.active, .active {
        a, span, .page-link {
            color: #ae1f2b;
            transition: 0.2s;
        }
    }
}

@media only screen and (max-width: 575px) {
    .pagination {
        .page-item {
            display: none !important;
        }
        .page-item:nth-child(1),
        .page-item:nth-child(2),
        .page-item:nth-child(3),
        .page-item:nth-last-child(1),
        .page-item:nth-last-child(2),
        .page-item:nth-last-child(3),
        .page-item.disabled,
        .page-item.active {
            display: inline-block !important;
        }
    }
}
