@import 'mixin.scss';

.pagination {
    @include flex(center, center);
    margin: 20px auto;
    p, .paginate_item {
        display: inline-block;
        color: #f58517;
        margin-right: 15px;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 50%;
        background: #E4E2DF;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            a, span, .page-link {
                color: $color_primary;
            }
        }
        &.active,
        &:hover {
            background: #f58517;
            color: #fff;
        }
    }
    a, span, .page-link {
        color: $color_main;
        display: block;
        text-align: center;
        margin-bottom: 5px;
        transition: 0.2s;
    }
    li.active, .active {
        a, span, .page-link {
            color: $color_primary;
        }
    }
    li.first,
    li:last-child {
        background: none;
        color: #F2F2F2;
    }
}

@media only screen and (max-width: 575px) {
    .pagination {
        .paginate_item {
            display: none !important;
        }
        .paginate_item:nth-child(1),
        .paginate_item:nth-child(2),
        .paginate_item:nth-child(3),
        .paginate_item:nth-last-child(1),
        .paginate_item:nth-last-child(2),
        .paginate_item:nth-last-child(3),
        .paginate_item.disabled,
        .paginate_item.active {
            display: inline-block !important;
        }
    }
}