// alert 
.toast-top-right {
 top:12px;
 right:12px
}
.toast-bottom-right {
 right:12px;
 bottom:12px
}
.toast-bottom-left {
 bottom:12px;
 left:12px
}
#toast-container {
 position:fixed;
 z-index:999999;
 pointer-events:none;
 display: none;
}
#toast-container * {
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 box-sizing:border-box
}
#toast-container>div {
  position:relative;
  pointer-events:auto;
  overflow:hidden;
  margin:0 0 6px;
  padding:15px 15px 15px 50px;
  width:300px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  background-position:15px center;
  background-repeat:no-repeat;
  -moz-box-shadow:0 0 12px #999;
  -webkit-box-shadow:0 0 12px #999;
  box-shadow:0 0 12px #999;
  color:#FFF;
  opacity:.8;
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter:alpha(opacity=80)
}
#toast-container>div.rtl {
 direction:rtl;
 padding:15px 50px 15px 15px;
 background-position:right 15px center
}
#toast-container>div:hover {
 -moz-box-shadow:0 0 12px #000;
 -webkit-box-shadow:0 0 12px #000;
 box-shadow:0 0 12px #000;
 opacity:1;
 -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
 filter:alpha(opacity=100);
 cursor:pointer
}
#toast-container>.toast-error {
 background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=)!important
}
#toast-container>.toast-success {
 background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==)!important
}
#toast-container.toast-bottom-center>div,
#toast-container.toast-top-center>div {
 width:300px;
 margin-left:auto;
 margin-right:auto
}
.toast {
 background-color:#030303
}
.toast-success {
 background-color:#51A351
}
.toast-error {
 background-color:#BD362F
}
.err_show {
  color: red !important;
  display: none;
  padding-top: 5px;
  font-size: 14px !important;
  font-style: italic;
  text-align: left;
}
.err_show.news {
  clear: both;
  margin-bottom: 0;
  text-align: center;
  float: right;
}
.err_show.active {
  display: block !important;
}
/* Loading full page */
#loading_box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    opacity: 0;
    visibility: hidden; 
}

#loading_image {
    width: 100%;
    height: 100%;
    background: url("/assets/images/loadding.gif") no-repeat center center;
    background-size: 100px; 
}