@import '../components/mixin.scss';
@import './layouts/should_choose.scss';
$color_main: var(--color-main, #fff);

.header-main {
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #DEDEDE;
}
#banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.section-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    color: $color_main;
    margin-bottom: 30px;
}

#reason {
    margin-top: 40px;
    .reason-box {
        margin-top: 15px;
        padding-bottom: 6px;
        border-bottom: 1px solid #E7E7E8;
        gap: 26px;
    }
    .reason-left {
    }
    .reason-title {
        text-align: left;
    }
    .reason-title::after {
        width: 100%;
        max-width: 330px;
        height: 4px;
        content: '';
        background-color: $color_main;
        position: absolute;
        left: 0;
        bottom: -15px;
    }
    .reason-content {
        font-size: 16px;
        color: #363636;
        line-height: 24px;
        text-align: justify;
        margin-bottom: 20px;
    }
    .reason-btn {
        width: 202px;
        height: 41px;
        line-height: 41px;
    }
    .reason-right__image img,
    .reason-right__image iframe {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}

#blog {
    .blog-title {
        margin-top: 35px;
        margin-bottom: 50px;
    }
    .blog-list {
        gap: 28px 30px;
        .blog-item {
            &__thumbnail {
                flex: 0 0 232px;
                max-width: 50%;
                height: 146px;
                border-radius: 10px;
                overflow: hidden;
                a {
                    height: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

#nation {
    margin: 33px 0;
    .nation-list {
        margin-top: 20px;
        gap: 62px 50px;
        .nation-item {
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
            overflow: hidden;

            &__thumbnail {
                height: 230px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
            &__content {
                padding: 27px 32px 26px;
                h3 {
                    color: #2452C1;
                    font-weight: bold;
                }
            }
            &__title {
                margin-bottom: 16px;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                a {
                    color: #2452C1;
                }
            }
            &__see {
                margin-top: 18px;
                padding: 0;
                line-height: 52px;
                background-color: $color_main;
            }
        }
    }
    .nation-see-more {
        display: block;
        margin-top: 45px;
        margin-bottom: 25px;
        text-align: center;
        color: $color_main;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
    }
}
.see-more {
    display: block;
    margin-top: 45px;
    margin-bottom: 25px;
    text-align: center;
    color: $color_main;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
#contidion {
    background-color: $color_main;
    width: 100%;
    padding: 74px 0px;
    color: #fff;

    .contidion-title {
        color: #fff;
    }
    .contidion-list {
        margin-top: 91px;
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
    .contidion-item {
        text-align: center;
        padding: 11px 12px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        flex: 1;
        &__thumbnail {
            width: 300px;
            height: 300px;
            margin-bottom: 24px;
        }
        &__thumbnail img {
            border-radius:  10px;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        &__content {
            font-size: 18px;
            line-height: 24px;
        }
        &__see {
            max-width: 150px;
        }
        .contidion-btn {
            width: 150px;
            color: $color_main;
            margin-top: 10px;
            background-color: #fff;
            padding: 10px 20px;
            border: 1px solid #fff;
        }
    }
}
.service_grid3 {
    .contidion-title {
        color: $color_text!important;
    }
    background-color: unset!important;
    color: $color_text!important;
}
.service_grid4 {
    .contidion-list {
        grid-template-columns: repeat(4,1fr)!important;
    }
    .contidion-item__thumbnail {
        width: 260px!important;
        height: 260px!important;
    }
}
.pagination {
    display: none;
}
.register {
    margin-bottom: 30px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 50px 0;
}
.service_price {
    margin: 30px 0;
    &__list {
        gap: 20px;
    }
    .item-thumbnail {
        img {
            border-radius: 10px;
            overflow: hidden;
        }
    }
}
.table_price {
    margin: 30px 0;
    gap: 20px;
    .btn-book {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        font-weight: 700;
    }
    &-right {
        img {
            border-radius: 10px;
            overflow: hidden;
        }
    }
}
