@import '../components/mixin.scss';
@import '../components/grid.scss';
@import '../components/class.scss';
@import '../components/toast.scss';
@import '../components/header.scss';
* {
    box-sizing: border-box;
}
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
body {
    background: #f3f3f3;
    font-size: 16px;
    font-family: var(--font_family),sans-serif;
    font-weight: 500;    
}
input, button, textarea {
     font-family: Arial,sans-serif;
}
ul { 
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
    color: $color_text_header;
    transition: 0.3s;
    &:hover {
        color: $color_text_header_hover;
    }
}

h1,h2,h3,h4,span,p {
    color: $color_text_accent;
}
h1,h2,h3,h4 {
    font-weight: 600;
}
p {
    line-height: 28px;
}
input {
    padding: 0 10px;
}
.main {
    background: #fff;
}
.title_box {
    transition: 0.3s;
    &:hover {
        text-decoration-line: underline;
    }
}
button {
    background: $background_button;
    color: $color_text_button;
    transition: 0.3s;
    &:hover {
        background: $background_button_hover;
    }
}
.btn {
    display: inline-block;
    background: $background_button;
    color: $color_text_button;
    transition: 0.5s;
    border-radius: 5px;
    &:hover {
        background: $background_button_hover;
    }
}
